$font-stack:    Helvetica, sans-serif
$primary-color: #10244F
$accent-color: #8EC4F9
$secondary-accent-color: #FFEA00

$menu-border-color: #CCCCCC

$dark-text-color: #444


$small-button-height: 80px
$small-button-width: 120px

$info-bullet-height: 100px

$info-bullet-number-inner-radius: 52px

$menu-order-item-line-height: 10px
$menu-order-margin-left: 32px

$font: 'sustained-font'
$accent-font: "kohinoor devanagari"

@font-face
    font-family: $font
    src: url('../fonts/TsukuBRdGothic-Bold.ttf')

html, body
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    overflow-x: hidden

body
    font-family: "Tsukushi B Round Gothic"
    color: $primary-color
    text-transform: lowercase

/* Main */

div#main-container
    width: 100%
    padding: 0
    background: url('../images/sustained_background.png')
    background-size: 100%

/* */

/* Nav bar */

nav#main-nav
    padding: 8px 0
    background-color: transparent

nav#main-nav div#navbar-header

nav#main-nav ul
    display: table
    width: 100%

nav#main-nav ul li
    margin-left: 0
    text-transform: lowercase
    display: table-cell
    width: 24%
    text-align: center

nav#main-nav ul li a
    color: $primary-color
    font-size: 20px
    font-weight: 200

nav#main-nav ul li a:hover
    font-weight: bold

@media (max-width: 767px)
    nav#main-nav ul li
        display: block
        width: 100%

/* */

/* Splash */

div#splash-container
    background-color: transparent
    height: 100vh

div#splash-logo-container
    text-align: center

div#splash-logo-container img
    max-width: 100%
    height: 240px

div#splash-video-container
    text-align: center
    margin: 32px

div#splash-video-container video
    width: 480px
    max-width: 100%

div#splash-cta-container
    margin: 16px
    padding-bottom: 32px

div#splash-cta-container p
    margin-bottom: 0px

div#splash-cta-container.left, div#splash-cta-container.right
    margin: 16px

div#splash-cta-container > div
    text-align: center
    width: 340px
    max-width: 100%
    margin: 0 auto

div#splash-cta-container button
    margin-top: -20px

div#splash-cta-container button:active
    margin-top: -18px

p.see-more-label
    font-family: $accent-font
    color: $dark-text-color
    font-weight: lighter

/* */


/* Info */

div#info-container
    padding: 32px
    background: #FFFFFF

div#info-bullets-container
    margin-left: 44px

p#info-header-first
    color: #F41B1B
    font-size: 18px
    margin-bottom: 0

p#info-header-second
    font-size: 20px
    margin-left: 32px

div.info-bullet
    float: left
    min-height: $info-bullet-height
    width: 100%
    margin-left: 16px

div.info-bullet p
    font-weight: bold
    font-size: 22px
    display: table-cell
    vertical-align: middle
    line-height: $info-bullet-height

@media (min-width: 840px)
    div.info-bullet:nth-child(2)
        margin-left: 32px

    div.info-bullet:nth-child(2) p:nth-child(1)
        margin-top: 16px
        margin-bottom: 0

    div.info-bullet:nth-child(3)
        margin-left: 64px

    div.info-bullet:nth-child(4)
        margin-left: 96px

div.info-bullet-number
    width: 64px
    height: 64px
    margin: 32px
    margin-top: 24px
    border-radius: 50%
    background-color: $accent-color
    overflow: hidden

div.info-bullet-number > div
    width: $info-bullet-number-inner-radius
    height: $info-bullet-number-inner-radius
    margin: 6px
    border-radius: 50%
    background-color: $primary-color

div.info-bullet-number p
    color: $accent-color
    font-size: 28px
    width: $info-bullet-number-inner-radius
    line-height: $info-bullet-number-inner-radius
    text-align: center

p#info-bullet-subtext
    font-size: 14px
    margin-top: -24px

p.display-stack
    display: flex !important
    line-height: 50px !important

@media (max-width: 720px)
    line-height: 50px

div#info-sub-row > div.right
    margin-left: -80px

p#info-sub-row-label
    margin-right: 120px
    line-height: 10px
    margin-bottom: 0

/* */

/* Menu */

div#menu-container
    width: 100%

div#menu-gamble-container
    background: url('../images/red_stars.png')
    background-position-x: 16px
    background-position-y: 16px
    margin: 80px
    padding-bottom: 8px

div#menu-gamble-container button, div#menu-gamble-container button:active
    margin-left: -80px

div#menu-gamble-container > div
    margin-left: 64px

div#menu-gamble-sub-container
    background: $primary-color
    text-align: right
    padding: 16px 4px 4px 16px
    margin-bottom: 16px

div#menu-gamble-sub-container p
    color: $secondary-accent-color
    margin-bottom: 0
    font-family: "Heiti SC"
    font-weight: normal

div#menu-order
    background: url('../images/menu_background.png')
    border: 1px solid $menu-border-color
    max-width: 100%
    position: relative

div#menu-order-button-container
    position: relative

div#menu-order button
    position: absolute
    margin-top: -10px
    border: 0

@media (min-width: 500px)
    div#menu-order
        width: 500px

div#menu-order > div:nth-child(1)
    border-left: 1px solid $menu-border-color
    position: absolute
    left: $menu-order-margin-left
    top: 0
    height: 100%

div#menu-order-total-container
    background-color: $accent-color
    padding-left: 16px
    padding-top: 8px
    padding-right: 8px
    width: 150px

p#menu-title
    text-transform: uppercase
    font-size: 32px
    color: $accent-color
    text-align: center
    border-bottom: 1px solid $menu-border-color
    margin-bottom: 6px

p.menu-header
    clear: both
    text-transform: none
    margin-bottom: 4px

p#menu-total
    font-size: 32px
    margin-top: 8px
    margin-left: 8px

div.menu-row
    border-bottom: 1px solid $menu-border-color
    width: 100%
    line-height: $menu-order-item-line-height
    padding-left: $menu-order-margin-left
    padding-right: 12px
    margin-top: -8px

div.menu-row input[type='text']
    height: 20px

div.empty-row
    line-height: 23px
    margin: 0

.menu-left-indent input[type='checkbox']
    margin-left: 48px !important

div.menu-row label
    margin-bottom: 1px

div.menu-row > label
    margin-left: 4px
    margin-bottom: 4px

div.menu-row input[type='checkbox']
    margin: 4px

div.menu-spacer
    line-height: $menu-order-item-line-height

@media(max-width: 500px)
    div#menu-order button
        background: url('../images/button_small_background.png') !important
        background-repeat: no-repeat
        height: $small-button-height
        width: $small-button-width
        padding-left: 24px
        padding-bottom: 16px

/* */

/**  Insta */

div#insta-container
    background: rgba(15, 37, 78, 0.84)
    width: 660px
    max-width: 100%
    padding: 32px
    text-align: center
    margin-left: auto
    margin-right: auto
    margin-bottom: 128px

div#insta-container img
    height: 256px
    width: 256px
    padding: 8px

div#insta-container img#insta-logo
    width: 128px
    height: 64px

div#insta-container a
    color: #FFFFFF

div#insta-images-container
    margin-top: 64px
    margin-bottom: 64px


/* */

/** Signup */

div#signup
    width: 100%
    margin: 32px
    text-align: center
    padding-top: 150px
    margin-bottom: 128px

div#signuph3
    margin-bottom: 64px
    font-size: 60px
    color: $dark-text-color
    font-family: $accent-font
    font-weight: lighter

div#signup input
    width: 300px
    padding: 8px
    border: 4px solid rgba(15, 37, 78, 0.6)
    background: rgba(120, 175, 220, 0.6)
    color: $primary-color

@media (max-width: 756px)
    div#signup-container
        width: auto

/* */

/** Natural Dye Laboratory ndl */

div#natural-dye-laboratory
    background: url('../images/dye_lab_background.png')
    background-repeat: no-repeat
    background-size: 100%
    width: 100%
    height: 100vh

div#natural-dye-laboratory h2
    margin: 16px
    text-transform: uppercase
    font-weight: bold

div#ndl-text-container
    background: rgba(255, 255, 255, 0.77)
    text-align: center
    float: right
    margin-top: 300px
    padding: 16px
    margin-right: 16px
    margin-left: 16px

div#ndl-text-container p
    font-weight: bold
    margin-bottom: 0


/* */


/** About Us **/

div#about-us
    width: 100%
    vertical-align: middle

div#about-us h1
    text-transform: uppercase
    font-size: 38px

div#about-us p
    font-size: 20px
    margin-bottom: 0
    text-transform: none

div#future-culture-info-container
    background: rgba(120, 175, 220, 0.8)
    padding: 16px
    width: 100%

div#resource-sharing
    text-align: center

div#resource-sharing img
    max-width: 100%

img#future-culture-logo
    max-width: 100%
    height: 64px
    width: 128px
    float: right
/**/

/** Core **/

.btn-small
    background: url('../images/button_small_background.png') !important
    background-repeat: no-repeat
    height: $small-button-height
    width: $small-button-width
    padding-left: 24px
    padding-bottom: 16px

.btn-small.active
    background: url('../images/button_small_background.png') !important
    background-repeat: no-repeat

.btn-large
    width: 350px
    height: 120px
    background-size: 70% !important
    background-repeat: no-repeat
    background-position: center

.btn-sustained
    background: url('../images/button_background.png')
    background-position: center
    background-repeat: no-repeat
    color: #FFFFFF
    -webkit-transform: rotate(-5deg)

.btn-sustained:hover
    background-position: center
    color: $accent-color

.btn-sustained:active
    background: url('../images/button_background.png')
    background-position: top -4px
    background-repeat: no-repeat
    background-position: center

/* */

/**  Utility */

.clear
    clear: both


.left
    float: left


.right
    float: right

.text-uppercase
    text-transform: uppercase

.text-notransform
    text-transform: none
/* */

/* Clearfix */
.clearfix:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0


.clearfix
    display: inline-block

html[xmlns] .clearfix
    display: block


* html .clearfix
    height: 1%

/* */